.outline {
  position: relative;
  margin-inline: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px 40px 40px 40px;
  max-width: 1000px;
  height: fit-content;
  border: 1px solid #767676;
  border-radius: 20px;
}

.title {
  text-align: center;
  position: relative;
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 30px;
}

.subTitle {
  position: relative;
  font-weight: 500;
  font-size: 20px;
}

.section {
  position: relative;
  /* border: 1px solid white; */
  height: fit-content;
}

.section:not(:first-child) {
  margin-top: 50px;
}
